* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  --bg-color-primary: #c4294f;
  --bg-color-second: #043953;
  --bg-color-third: #fff;
  --bg-color-gradient: linear-gradient(#033c59, #044e74);
  --hd-color-gradient: linear-gradient(#03415f, #006d96);
  --primary-color: #8d59c2;
  --second-color: #8498f7;
  --third-color: #da5a79;
  --text-color: #cccaca;
}

body {
  background: var(--bg-color-gradient);
  background-repeat: no-repeat;
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 3rem;
  z-index: 1000;

  transition: ease 0.4s;
}

#logo:hover {
  transform: scale(1.1);
  transition: ease 0.6s;
  cursor: pointer;
}

.navbar {
  display: flex;
}

.navbar a {
  color: var(--text-color);
  padding: 0.2rem 2.2rem;
  border-radius: 0.4rem;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: var(--bg-color-third);
  color: var(--bg-color-second);
  box-shadow: 0.5rem 1rem 3rem rgb(85 85 85 / 20%);
  border-radius: 0.4rem;
}

#menu-icon {
  background: var(--bg-color-primary);
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 0.8rem;

  display: none;
  z-index: 10001;
  cursor: pointer;
}

section {
  padding: 10rem 10%;
  min-height: 100vh;
}

.begin {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(./assets/images/background-blue.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
}

.begin-text h1 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 13rem;
  line-height: 14rem;
  color: var(--bg-color-primary);
  margin-bottom: 8rem;
}

.begin-text p {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

.begin-btn {
  background: var(--bg-color-primary);
  color: var(--bg-color-third);
  font-family: "RocknRoll One", sans-serif;
  font-size: 2.4rem;
  padding: 1rem 10rem;
  border-radius: 0.8rem;
  display: inline-block;
  transition: ease 0.4s;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.begin-btn:hover {
  transform: scale(1.1);
}

/* begin-img */

.begin-img img {
  position: absolute;
  right: 0;
  bottom: -0.6rem;
  max-width: 100%;
  max-height: 80%;
}

header.sticky {
  background: var(--bg-color-second);
  padding: 1rem 3rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  opacity: 95%;
}

/* BENEFITS */

.container-box {
  background: var(--bg-color-second);
  border: 1px solid transparent;
  border-radius: 1.2rem;
  padding: 3.2rem 2.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  transition: all 1s ease 0s;
}

.container-box:hover {
  border: 1px solid var(--text-color);
  transform: translateY(-10px);
}
.container-img img {
  border-radius: 1.8rem;
  height: 15rem;
}

h2 {
  font-size: 4rem;
}

h3,
h4 {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 500;
}

.row-items,
.container-modules-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  grid-gap: 4rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

/* MODULES */

.container-modules-row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  grid-gap: 4rem;
}

.container-card {
  background: var(--bg-color-second);
  border-radius: 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  word-break: break-all;
  transition: all 1s ease 0s;
}

.container-card:hover {
  border: 1px solid var(--text-color);
  transform: translateY(-10px);
}

.container-card-img {
  position: relative;
}

.container-card-img img {
  border-radius: 1.2rem 1.2rem 0 0;
  max-width: 100%;
}

.container-card-number {
  position: absolute;
  bottom: -3.2rem;
  left: 1.2rem;
}

h4 {
  margin: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.container-card p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 1.5rem;
  height: 12rem;
  margin-bottom: 2rem;
}

/* MENTOR */

#mentor h2 {
  margin-bottom: 2.4rem;
}

#container-mentor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
}

#container-info p {
  width: 48rem;
  text-align: justify;
}

#container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.galeria {
  cursor: pointer;
  transition: all 1s ease 0s;
}

.galeria:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

footer .begin-btn {
  max-width: 80%;
}

/* MEDIAS QUERIES */

@media (max-width: 1400px) {
  .begin {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .begin-img {
    position: relative;
  }

  .begin-img img {
    overflow: auto;
    align-self: center;
    max-width: 100%;
    max-height: 80%;
    position: relative;
    bottom: -11rem;
  }

  header {
    padding: 1.7rem 3%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 1rem 3%;
    transition: 0.2s;
  }
}

@media (max-width: 1040px) {
  #logo img {
    width: 22rem;
  }

  #menu-icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 25rem;
    height: 120vh;
    background: var(--bg-color-second);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 3rem;
    transition: 0.5s all;
  }

  .navbar a {
    display: block;
    margin: 1rem;
  }

  .open {
    right: 0;
  }

  .begin {
    display: flex;
    flex-direction: column;
  }

  #begin-img img {
    height: 40rem;
  }

  .row-items,
  .container-modules-row {
    grid-template-columns: 1fr;
  }

  #container-mentor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container-galeria {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 575px) {
  .begin-text h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .begin-text p {
    font-size: 1.4rem;
  }

  #begin-img img {
    position: relative;
    bottom: 0rem;
    height: 40rem;
  }

  .begin-btn {
    font-size: 2rem;
    padding: 1rem 5rem;
  }

  #container-mentor {
    display: flex;
    flex-direction: column;
  }

  #container-info img {
    width: 100%;
  }

  #container-galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container-info p {
    width: 100%;
    text-align: justify;
  }

  footer .begin-btn {
    width: 100%;
  }
}
