* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

:root {
  font-size: 62.5%;

  --bg-color-primary: #c4294f;
  --bg-color-second: #043953;
  --bg-color-third: #fff;
  --bg-color-gradient: linear-gradient(#033c59, #044e74);
  --hd-color-gradient: linear-gradient(#03415f, #006d96);
  --primary-color: #8d59c2;
  --second-color: #8498f7;
  --third-color: #da5a79;
  --text-color: #cccaca;
  --img-begin: url(./assets/images/background-blue.png);
}

:root[mode="light"] {
  /* --bg-color-primary: #043953; */
  --bg-color-primary: #c4294f;
  --bg-color-second: #e2ebf2;
  --bg-color-third: #ffffff;
  --bg-color-gradient: linear-gradient(#e8f0f7, #ffffff);
  --hd-color-gradient: linear-gradient(#e8f0f7, #a4a5b1);
  --primary-color: #5c6078;
  --second-color: #8498f7;
  --third-color: #db638f;
  --text-color: #333333;
  --img-begin: url(./assets/images/background-blue-opacity.png);
}

body {
  background: var(--bg-color-gradient);
  background-repeat: no-repeat;
  color: var(--text-color);
}

header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 3rem;
  z-index: 1000;

  transition: ease 0.4s;
}

#logo:hover {
  transform: scale(1.1);
  transition: ease 0.6s;
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.navbar a {
  color: var(--text-color);
  padding: 0.2rem 2.2rem;
  border-radius: 0.4rem;
  transition: ease 0.4s;
}

.navbar a:hover {
  background: var(--bg-color-third);
  color: #333333;
  box-shadow: 0.5rem 1rem 3rem rgb(85 85 85 / 20%);
  border-radius: 0.4rem;
}

#menu-icon {
  background: var(--bg-color-primary);
  font-size: 2.4rem;
  padding: 1rem;
  border-radius: 0.8rem;

  display: none;
  z-index: 10001;
  cursor: pointer;
}

section {
  padding: 10rem 10%;
  min-height: 100vh;
}

.begin {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background: url(./assets/images/background-blue.png); */
  background: var(--img-begin);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  overflow: hidden;
}

.begin-text {
  width: 80%;
}

.begin-text h1 {
  font-family: "RocknRoll One", sans-serif;
  font-size: 13rem;
  line-height: 14rem;
  color: var(--bg-color-primary);
  margin-bottom: 5rem;
}

.begin-text p {
  font-size: 2rem;
  text-align: justify;
  margin-bottom: 4rem;
  position: relative;
  z-index: 2;
}

.begin-btn {
  background: var(--bg-color-primary);
  color: var(--bg-color-third);
  font-family: "RocknRoll One", sans-serif;
  font-size: 2.4rem;
  padding: 1rem 10rem;
  border-radius: 0.8rem;
  display: inline-block;
  transition: ease 0.4s;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 2;
}

.begin-btn:hover {
  transform: scale(1.1);
}

/* begin-img */

.begin-img img {
  position: absolute;
  right: 0;
  bottom: -0.6rem;
  max-width: 100%;
  max-height: 100%;
}

header.sticky {
  background: var(--bg-color-second);
  padding: 1rem 3rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;

  opacity: 95%;
}

#begin .chat-balloon {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  cursor: pointer;
  text-align: center;
  box-shadow: 0 0 0 var(--bg-color-primary);
  border-radius: 50%;
  animation: pulsate 2s infinite;
  border: 1px solid var(--bg-color-third);
  z-index: 99;
}
@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 var(--bg-color-primary);
  }
  50% {
    transform: scale(1.2);
    box-shadow: 0 0 0 15px rgba(244, 67, 54, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(244, 67, 54, 0);

  }
}

/* BENEFITS */

.container-box {
  background: var(--bg-color-second);
  border: 1px solid transparent;
  border-radius: 1.2rem;
  padding: 3.2rem 2.6rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  transition: all 1s ease 0s;
}

.container-box:hover {
  border: 1px solid var(--text-color);
  transform: translateY(-10px);
}
.container-img img {
  border-radius: 1.8rem;
  height: 15rem;
}

h2 {
  font-size: 4rem;
}

h3,
h4 {
  font-family: "RocknRoll One", sans-serif;
  font-weight: 500;
}

.row-items,
.container-modules-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  grid-gap: 4rem;
  align-items: center;
  text-align: center;
  margin-top: 5rem;
}

/* MODULES */

.container-modules-row {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(25rem, auto));
  grid-gap: 4rem;
}

.container-card {
  background: var(--bg-color-second);
  border-radius: 1.2rem;
  border: 1px solid transparent;
  cursor: pointer;
  position: relative;
  word-break: break-all;
  transition: all 1s ease 0s;
}

.container-card:hover {
  border: 1px solid var(--text-color);
  transform: translateY(-10px);
}

.container-card-img {
  position: relative;
}

.container-card-img img {
  border-radius: 1.2rem 1.2rem 0 0;
  max-width: 100%;
}

.container-card-number {
  position: absolute;
  bottom: -3.2rem;
  left: 1.2rem;
}

h4 {
  margin: 1rem;
  text-align: center;
  position: relative;
  z-index: 2;
}

.container-card p {
  font-size: 1.2rem;
  text-align: justify;
  padding: 1.5rem;
  height: 12rem;
  margin-bottom: 2rem;
}

/* MENTOR */

#mentor h2 {
  margin-bottom: 2.4rem;
}

#container-mentor {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2.4rem;
}

#container-info p {
  width: 48rem;
  text-align: justify;
}

#container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.galeria {
  cursor: pointer;
  transition: all 1s ease 0s;
}

.galeria:hover {
  transform: scale(1.1);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
}

footer .begin-btn {
  max-width: 60%;
}

/* ----------------COMPONENTES */

/* --------------SWITCH-TOGGLE - color light and dark */

.toggle {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.2s;
}
.checkbox {
  display: none;
}
.icon {
  width: 50%;
  font-size: 20px;
  line-height: 60px;
  text-align: center;
  z-index: 1;
}
.ball {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 10px;
  transition: 0.2s;
}

html[mode="light"] .toggle {
  background: linear-gradient(145deg, #e1e1e1, #fff);
  box-shadow: 0px 4px 4px 0px #00000040;
}
html[mode="light"] .icon--light {
  color: #fafafa;
}
html[mode="light"] .icon--dark {
  color: #043953;
}
html[mode="light"] .ball {
  background-color: #043953;
  transition: 0.6s;
}

html[mode="dark"] .toggle {
  background: var(--bg-color-second);
  box-shadow: 0px 4px 4px 0px #00000040;
}
html[mode="dark"] .icon--light {
  color: var(--bg-color-third);
}
html[mode="dark"] .icon--dark {
  color: var(--bg-color-second);
}
html[mode="dark"] .ball {
  background-color: var(--bg-color-third);
  transition: 0.6s;
  transform: translateX(50px);
}

/* ---------------------TRANSLATE */
.translate {
  display: flex;
}

.flag {
  height: 30px;
  cursor: pointer;
  transition: all 0.4s;
  border-radius: 50%;
}

.flag:hover {
  border: 1px solid #c7c7c7;
  transform: scale(1.1);
  border-radius: 50%;
}

.menu-languages {
  color: var(--text-color);
  background-color: var(--bg-color-second);
  position: absolute;
  padding: .5rem 2rem;
  border-radius: 2rem;
  top: 90px;
  right: 10px;

  height: 0;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden;
}

.menu-languages .language {
  padding: .8rem;
  /* border-bottom: 1px solid var(--text-color); */
  font-size: 14px;
  transition: all 0.4s;
}

.menu-languages .language:nth-child(5) {
  border: none;
}

.menu-languages .language:hover {
  transform: scale(1.1);
  color: var(--bg-color-third);
}

.menu-languages.active {
  height: 195px;
  opacity: 1;
  transition: 0.5s;
  visibility: visible;
}

/*-------------- CHATBOT*/

#chat-bot-container {
  position: fixed;
  bottom: 11rem;
  right: 2rem;
  z-index: 99;
  display: none;
  opacity: 0;
}

#chat-bot-container.active {
  display: block;
  opacity: 1;
}

.chat-bot {
  width: 30rem;
  background-color: #E4E6E9;
  border-radius: 2rem;
  transition: .5s;
  height: 40rem;
  position: relative;
}

/* #chat-bot-container.active .chat-bot {
  opacity: 1;
  display: block;
} */

.chat-bot-header {
  background-color: #033C59;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 20px 20px 0 0;
}

.chat-bot-header > div {
  color: #E4E6E9;

  display: flex;
  align-items: center;
  gap: 8px;
}

span {
  font-weight: 500;
  font-size: 1rem;
}

.icon-close {
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

/* MENSAGENS */

.chat-bot-message {
  height: 25rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background-color: #E4E6E9;
}

.chat-bot-message::-webkit-scrollbar {
  width: 1.2rem;
}

.chat-bot-message::-webkit-scrollbar-track {
  background-color: #E4E6E9;
}

.chat-bot-message::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
  border-radius: 2rem;
  box-shadow: 0px 2px 4px 0px #00000040;
}

.message-bot,
.message-usuario {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  gap: 10px;
}

.message-bot img {
  height: 4rem;
}

.message-bot > p ,
.message-usuario > p {
  font-size: 10px;
  background-color: #D9D9D9;
  color: #231F20;
  border-radius: 8px;
  padding: 8px;
  margin-top: 8px;
  box-shadow: 0px 4px 4px 0px #00000040;
}

.message-questions {
  margin: 0 12px 0 60px;
}

.message-questions-prog {
  border: 0.5px solid #231F20;
  font-size: 10px;
  padding: 4px;
}

.message-usuario {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 2px
}

.textarea-message {
  width: 100%;
  padding: 12px;
  display: flex;
  position:absolute;
  bottom:0;
}

.textarea-message textarea {
  border-radius: 8px 0 0 8px;
  padding: 10px;

  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px 0px #00000040;
  border: none;
  width: 100%;
  height: 60px;
  font-size: 10px;
}

.textarea-message textarea:focus {
  outline: 0;
}

/* .user-message-box {
  width: 100%;
  font-size: 10px;
} */

.textarea-message button {
  border-radius: 0 8px 8px 0;
  border: none;
  box-shadow: 0px 4px 4px 0px #00000040;

}

.textarea-message button img {
  border-radius: 0 8px 8px 0;
  background: #033C59;
  width: 100%;
  height: 100%;
  padding: 10px;
 
  cursor: pointer;
  /* box-shadow: 0px 4px 4px 0px #00000040; */
}

.message-bot .dot-flashing {
  margin-left: 2rem;
}






/*--------------------- MEDIAS QUERIES */

@media (max-width: 1400px) {
  .begin {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  .begin-img {
    position: relative;
  }

  .begin-img img {
    overflow: auto;
    align-self: center;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    bottom: -11rem;
  }

  header {
    padding: 1.7rem 3%;
    transition: 0.2s;
  }

  header.sticky {
    padding: 1rem 3%;
    transition: 0.2s;
  }

  /* translate component */

  .menu-languages {
    color: var(--text-color);
    background-color: var(--bg-color-second);
    position: absolute;
    top: 750px;
    right: 40px;

    height: 0;
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
  }

  .menu-languages .language {
    padding: 8px;
    /* border-bottom: 1px solid var(--text-color); */
    cursor: pointer;
    font-size: 14px;
  }

  .menu-languages.active {
    height: 186px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
    pointer-events: visible;
  }
}

@media (max-width: 1040px) {
  #logo img {
    width: 22rem;
  }

  #menu-icon {
    display: block;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 25rem;
    height: 120vh;
    background: var(--bg-color-second);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10rem 3rem;
    transition: 0.5s all;
  }

  .navbar a {
    display: block;
    margin: 1rem;
  }

  .open {
    right: 0;
  }

  .begin {
    display: flex;
    flex-direction: column;
  }

  #begin-img img {
    height: 40rem;
  }

  .row-items,
  .container-modules-row {
    grid-template-columns: 1fr;
  }

  #container-mentor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #container-galeria {
    display: flex;
    flex-direction: column;
    width: 60%;
  }
}

@media (max-width: 575px) {
  .begin-text h1 {
    font-size: 6rem;
    line-height: 6rem;
  }

  .begin-text p {
    font-size: 1.4rem;
  }

  #begin-img img {
    position: relative;
    bottom: 0rem;
    height: 40rem;
  }

  .begin-btn {
    font-size: 2rem;
    padding: 1rem 5rem;
  }

  #container-mentor {
    display: flex;
    flex-direction: column;
  }

  #container-info img {
    width: 100%;
  }

  #container-galeria {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container-info p {
    width: 100%;
    text-align: justify;
  }

  footer .begin-btn {
    width: 100%;
  }

  /* translate component */

  .menu-languages {
    color: var(--text-color);
    background-color: var(--bg-color-second);
    position: absolute;
    top: 700px;
    right: 40px;

    height: 0;
    opacity: 0;
    transition: 0.5s;
  }
}